*{
    color: white;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
   
}
h1{
    font-size: 32px;
    text-align: center;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
a{
     display: block;
     text-decoration: dashed;
     text-align: center;
    
}
#foto{
    width: 300px;
    margin: auto;
    display: block;
}
li{
    text-align: center;
}
ol{
    width: 320px;
    display: block;
    text-align: center;
    margin: auto;
}
strong{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}